body{

    margin:0px;

}

/* header */
#header{

    position:relative;
    background: #afafaf;
    width : 100%;

    padding-top: 50px;
    height:150px;

}

#logo_area{


    position:relative;
    min-width:125px;
    min-height:100px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;

}

#nav_area{

    background:#00ff00;
    min-height:50px;
    width:100%;
    text-align:center;

}

.logo_text{

    font-size:50px;
    line-height:100px;

}

.nav_text{

    font-size:20px;
    line-height:50px;

}

/* content */
#content_wrap{

    background:#ff0000;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    padding:50px;

}

/* pageing */
#page-nav{

padding:5px;

}

.page-number{

padding:5px;

}

.current{

margin-left:20px;
margin-right:20px;

}