<!-- write all posts -->
<% if(page.posts){ %>

    <% page.posts.each(function(post){ %>

        <!-- title and date -->
        <h1><a href="<%- post.path %>"><%- post.title || 'untitled post' %> </a></h1>
        <p>date: <%= post.date %></p>

		        <div></div>
		
        <!-- the content of the post -->
        <div><%- post.excerpt %></div>

    <% }) %>

<% }else{ %>

    <% console.log('no pages object for path: ' + page.path) %>

<% } %>