
<% if(page.posts){ %>

    <% partial('_parts/list_post_object') %>
    <%- partial('_parts/posts_excerpts') %>

<% }else{ %>

    <% if(page.title){ %>

        <h1><%- page.title %></h1>

    <% } %>

    <%- page.content %>

<% } %>