body{

    margin:0px;
    background:#afafaf;

}

img{}

a{
	
	padding:0px;
	margin:0px;
	
}

/* header */
#header{

    position:relative;
    width : 100%;

    padding-top: 50px;
    height:150px;

}

#logo_area{


    position:relative;
    min-width:125px;
    min-height:100px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;

}

#nav_area{

    min-height:50px;
    width:100%;
    text-align:center;

}

.logo_text{

    font-size:50px;
    line-height:100px;

}

.nav_text{

    font-size:20px;
    line-height:50px;

}

/* content */
#content_wrap{

    width:75%;
    margin-left:auto;
    margin-right:auto;
    padding:50px;

}

/* footer */
#footer{

    padding-left:25%;
    height:200px;
    width:75%;
    color:#5f5f5f;

}

/* pageing */
#page-nav{

padding:5px;

}

.page-number{

padding:5px;

}

.current{

margin-left:20px;
margin-right:20px;

}

/* jimped scripts */
.gallery_index_collections{

    background:#909090;
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;

}

.jimped_thum{

    display:inline-block;
    width:64px;
    background:#00ff00;

}

a:link{color:#000000;}
a:visited{color:#000000;}
a:active{color:#000000;}
a:hover{color:#5a5a5a;}