<!DOCTYPE html>

<html>

    <head>

        <title><%- page.title || config.title || "untitled" %></title>

        <link rel="stylesheet" href="/css/main_style.css" >

    </head>

    <body>

       <div id="header">

          <div id="logo_area"><span class="logo_text"><%- config.title %></span></div>

          <div id="nav_area">

            <span class="nav_text"><a href="/">home</a></span>

          </div>

       </div>

        <%- body %>

    </body>

</html>